@charset "UTF-8";
.jd_container {
  width: 100%;
  height: 1000px;
  background-color: pink;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
}
.jd_header {
  height: 44px;
  position: relative;
  padding: 0 44px;
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
}
.jd_header .icon_left,
.jd_header .icon_right {
  width: 44px;
  height: 44px;
  padding: 12px;
  position: absolute;
  top: 0;
  background-origin: content-box;
  background-clip: content-box;
}
.jd_header .icon_left {
  left: 0;
  background-position: -20px 0;
}
.jd_header .icon_right {
  right: 0;
  background-position: -60px 0;
}
.jd_header .title {
  width: 100%;
  height: 44px;
}
.jd_header .title h3 {
  line-height: 44px;
  text-align: center;
  font-size: 20px;
}
.jd_tips {
  height: 34px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  line-height: 32px;
  background-color: #fff;
}
.jd_tips p {
  display: inline-block;
  padding-left: 30px;
  position: relative;
}
.jd_tips p:before {
  content: "";
  position: absolute;
  left: 7px;
  top: 6px;
  width: 18px;
  height: 18px;
  background: url("../images/safe_icon.png") no-repeat;
  background-size: 18px 18px;
}
.jd_checkbox {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 7px;
  top: 7px;
  background-position: -180px -90px;
}
.jd_checkbox.checked {
  background-position: -180px -70px;
}
.goods_title {
  height: 34px;
  margin-top: 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-left: 34px;
  position: relative;
  background-color: #fff;
}
.goods_title .fl {
  position: relative;
  padding-left: 20px;
  line-height: 32px;
}
.goods_title .fl i {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 11px;
  background-position: 0 0;
  background-size: 150px 150px;
}
.goods_title .fr {
  line-height: 32px;
}
.goods_wrapper .goods_content {
  height: 100px;
  padding-left: 34px;
  border-bottom: 1px solid #cccccc;
  position: relative;
  background-color: #fff;
}
.goods_wrapper .goods_content .goods_img {
  float: left;
  width: 80px;
  height: 100%;
  padding-top: 10px;
}
.goods_wrapper .goods_content .goods_info {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.goods_wrapper .goods_content .goods_info p {
  padding: 0 10px;
}
.goods_wrapper .goods_content .goods_info .info_bottom {
  height: 34px;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  left: 0;
  bottom: 5px;
}
.goods_wrapper .goods_content .goods_info .info_bottom .number_box {
  width: 120px;
  height: 34px;
  border: 1px solid #cccccc;
  float: left;
  text-align: center;
}
.goods_wrapper .goods_content .goods_info .info_bottom .number_box > div {
  width: 33.3%;
  height: 100%;
  line-height: 32px;
  float: left;
}
.goods_wrapper .goods_content .goods_info .info_bottom .number_box > div input {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.goods_wrapper .goods_content .goods_info .info_bottom .delete_box {
  width: 20px;
  height: 22px;
  float: right;
}
.goods_wrapper .goods_content .goods_info .info_bottom .delete_box .delete_up {
  width: 18px;
  height: 4px;
  background: url("../images/delete_up.png") no-repeat;
  background-size: 18px 4px;
  position: relative;
  top: 1px;
}
.goods_wrapper .goods_content .goods_info .info_bottom .delete_box .delete_down {
  width: 18px;
  height: 18px;
  background: url("../images/delete_down.png") no-repeat;
  background-size: 18px 18px;
}
